.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper .heading {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 600;
    color: crimson;
    cursor: pointer;
}

.wrapper .heading .active{
    color: darkorange;
}